<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo app</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @font-face { 
    font-family: Delightful; 
    src: url('/img/Delightful400.otf');
     }  
     @font-face { 
    font-family: Triorange; 
    src: url('TriorangeBold700.otf');
     }  
        logo,h2,quote {
         font-family: Delightful;
        }
        h1,h3{
            font-family: Triorange; 
        }
        .quote7{
            top:29.5rem;
            left:34.5rem;
        }
        .quote6{
            top:25.5rem;
            left:30.5rem;
        }
        .quote5{
            top:21.5rem;
            left:25.5rem;
        }
        .quote4{
            top:16.5rem;
            left:25.5rem;
        }
        .quote3{
            top:11.5rem;
            left:26.5rem;
        }
        .quote2{
            top:7.5rem;
            left:28rem;
        }
        .quote1{
            top:3.5rem;
            left:31.5rem;
        }
        
    </style>
</head>

<body>
    <nav class="fixed z-10 w-screen mx-4 bg-white px-2 sm:px-4 py-2.5 rounded">
        <div class="container flex flex-wrap items-center justify-between">
          <a href="/"><logo class="text-4xl cursor-pointer bg-orange-200  rounded-bl-full rounded-tr-full rounded-br-full p-2">Delight</logo></a>
          
          <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="container capitalize cursor-pointer bold flex gap-x-8 text-orange-600 font-medium justify-center items-center">
                <a class="hover:text-orange-700 capitalize" href="/customer/orders">Orders</a>
                <a class="hover:text-orange-700 capitalize" href="#about" >about chef</a>
                <a class="hover:text-orange-700 capitalize" href="#services">services</a>
                <a class="hover:text-orange-700 capitalize" href="#plans">plans</a>
                <a class="hover:text-orange-700 capitalize" href="#menu">Menu</a>
            </ul>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="container capitalize cursor-pointer bold flex gap-x-8 text-orange-600 font-medium justify-center items-center">
                <% if(user) { %>
                    <div class="flex md:order-2">
                      <form id="logout" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800 mr-10" action="/logout" method="POST">
                          <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                      </form>
                    </div>
                    <% } else { %>
                      <div class="flex md:order-2">
                              <a class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800" href="/register">Register</a>
                        </div>
                      <div class="flex md:order-2">
                            <a class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800 mr-10" href="/login" >Login</a>
                        </div>
                        
                   <% } %> 
                   <li class="ml-6"><a href="/cart" class="inline-block px-4 py-2 rounded-full flex items-center">
                    <span id="cartCounter"
                        class="text-white font-bold pr-2"><%= session.cart ? session.cart.totalQty : '' %></span>
                    <img src="/img/cart.png" alt="">
                </a></li>
            </ul>
            
        </div>
          
         
        </div>
      </nav>
    <%- body %>
    <footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 ">
        <span class="text-sm  font-normal sm:text-center ">© 2023 <a href="" class="hover:underline">Delight™</a>. All Rights Reserved.
        </span>
        <p class="font-normal">Made with ❤️ by Uditi</p>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-normal sm:mt-0">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>